<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>Appointments List - HealingNet</title>
</head>
<body>
    <div class="container mt-5">
        <h2 class="mb-4">Appointments List (Total Appointments = <%=  total_appointment %>)
        </h2>        
        <% if (appointments.length > 0) { %>
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead class="table-primary">
                        <tr>
                            <th>Appointment Id</th>                  
                            <th>Doctor</th>
                            <th>Specialty</th>
                            <th>Fullname</th>
                            <th>Email</th>
                            <th>Illness</th>
                            <th>Appointment Date</th>
                            <th>Appointment Time</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% appointments.forEach(appointment => { %>
                            <tr>
                                <td><%= appointment.appointment_id %></td>
                                <td><%= appointment.doctor %></td>
                                <td><%= appointment.specialty %></td>
                                <td><%= appointment.fullname %></td>
                                <td><%= appointment.email %></td>
                                <td><%= appointment.illness %></td>
                                <td><%= appointment.appointment_date %></td>
                                <td><%= appointment.appointment_time %></td>
                                <td><%= appointment.status %></td>                               
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        <% } else { %>
            <div class="alert alert-warning" role="alert">
                You have no booked appointments.
            </div>
            <div class="text-center mt-4">
                <a class="btn btn-primary btn-lg load-content" href="/admin/add_doctor" target="_blank">
                    <i class="fas fa-plus"></i> Add New Doctor
                </a>
            </div>
        <% } %>
        
        <!-- Create Appointment Button -->
    </div>
</body>
<script src="/js/main.js"></script>
</html>
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>Prescription List - HealingNet</title>
</head>
<script src="/js/main.js"></script>
</html>
