<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
    <title>Search your favourite doctor- Trusted Telemedicine Platform for Online Consultations and Health Resources
    </title>
    <body>
    <%- include('../partials/header') %>

            <!-- Find A Doctor Section Start -->
            <div class="container-fluid pt-5 pb-5" data-aos="fade-in" data-aos-delay="100">
                <div class="container">
                    <div class="text-center mx-auto mb-5" style="max-width: 500px;">
                        <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5" data-aos="fade-up"
                            data-aos-delay="150">Find A Doctor</h5>
                        <h1 class="display-4 mb-4" data-aos="fade-up" data-aos-delay="200">Find Your Healthcare
                            Professionals</h1>
                        <h5 class="fw-normal text-muted" data-aos="fade-up" data-aos-delay="250">Discover our network of
                            qualified
                            specialists. Search by doctor's name or specialty</h5>
                    </div>
                    <div class="mx-auto mb-5" style="width: 100%; max-width: 600px;">
                        <div class="input-group">
                            <input type="text" id="searchBar" class="form-control border-primary p-3" style="height: 60px;"
                                placeholder="Search by doctor's name or specialty">
                            <button class="btn btn-primary px-4" type="button"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Find A Doctor Section End -->

            <!-- Doctors List Start -->
            <div class="container py-5">
                <div class="row g-5">
                    <!-- Sidebar Start -->
                    <div class="col-lg-4">
                        <!-- Categories Start -->
                        <div class="mb-5">
                            <h4 class="d-inline-block text-primary text-uppercase border-bottom border-5 mb-4" data-aos="fade-up" data-aos-delay="300">Specialties</h4>
                            <div class="d-flex flex-column justify-content-start">
                                <a class="h5 bg-light rounded py-2 px-3 mb-2 specialty-link" href="#" data-specialty="all"><i class="fa fa-angle-right me-2"></i>All</a>
                                <a class="h5 bg-light rounded py-2 px-3 mb-2 specialty-link" href="#" data-specialty="General Practitioner"><i class="fa fa-angle-right me-2"></i>General Practitioner</a>
                                <a class="h5 bg-light rounded py-2 px-3 mb-2 specialty-link" href="#" data-specialty="Clinical Psychologist"><i class="fa fa-angle-right me-2"></i>Clinical Psychologist</a>
                                <a class="h5 bg-light rounded py-2 px-3 mb-2 specialty-link" href="#" data-specialty="Dermatologist"><i class="fa fa-angle-right me-2"></i>Dermatologist</a>
                                <a class="h5 bg-light rounded py-2 px-3 mb-2 specialty-link" href="#" data-specialty="Cardiologist"><i class="fa fa-angle-right me-2"></i>Cardiologist</a>
                                <a class="h5 bg-light rounded py-2 px-3 mb-2 specialty-link" href="#" data-specialty="Nutritionist"><i class="fa fa-angle-right me-2"></i>Nutritionist</a>
                                <a class="h5 bg-light rounded py-2 px-3 mb-2 specialty-link" href="#" data-specialty="Oncologist"><i class="fa fa-angle-right me-2"></i>Oncologist</a>
                                <a class="h5 bg-light rounded py-2 px-3 mb-2 specialty-link" href="#" data-specialty="Neurologist"><i class="fa fa-angle-right me-2"></i>Pediatrician</a>
                                <a class="h5 bg-light rounded py-2 px-3 mb-2 specialty-link" href="#" data-specialty="Pediatrician"><i class="fa fa-angle-right me-2"></i>Gynecologist</a>
                                <a class="h5 bg-light rounded py-2 px-3 mb-2 specialty-link" href="#" data-specialty="Pediatrician"><i class="fa fa-angle-right me-2"></i>Gynecologist</a>
                            </div>
                        </div>
                        <!-- Categories End -->
                    </div>
                    <!-- Sidebar End -->
        
                    <!-- Main Content Start -->
                    <div class="col-lg-8">
                        <div class="row g-4">
                            <% doctors.forEach((doc) => { %>
                            <div class="col-lg-6 team-item doctor-card" data-aos="zoom-in" data-aos-delay="350">
                                <div class="row g-0 bg-light rounded overflow-hidden">
                                    <div class="col-12 col-sm-5 h-100">
                                        <img class="img-fluid h-100" src="/Uploads/<%= doc.doc_img %>" alt="<%= doc.name %>" style="object-fit: cover;">
                                    </div>
                                    <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                                        <div class="mt-auto p-4" style="max-height: 300px; overflow-y: auto;">
                                            <h3><%= doc.doc_name %></h3>
                                            <h6 class="fw-normal fst-italic text-primary mb-4 available-status">
                                                <span class="doc-specialty"><%= doc.specialty %></span>
                                                <% if (!doc.isBooked) { %>
                                                    <span class="availability-dot available"></span> Available
                                                <% } else { %>
                                                    <span class="availability-dot booked"></span> <span class="booked-text">Doctor Booked</span>
                                                <% } %>
                                            </h6>
                                            <p class="m-0" style="word-wrap: break-word;">
                                                <%= doc.about_doctor %>
                                            </p>
                                        </div>
                                        <div class="border-top p-2">
                                            <div class="col-12 text-center">
                                                <a href="/ui/book_appointment?doctor=<%= encodeURIComponent(doc.doc_name)%>&doctor_id=<%= encodeURIComponent(doc.doctor_id)%>&specialty=<%= encodeURIComponent(doc.specialty) %> &patientname=<%= encodeURIComponent(firstname + ' ' + lastname) %>" class="text-white">
                                                    <button class="btn btn-primary py-1 px-5">Book Doctor</button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% }); %>
                        </div>
                        <div class="col-12 text-center mt-4" data-aos="fade-up" data-aos-delay="400">
                            <a href="#" class="btn btn-primary py-3 px-5 rounded-pill load-more">Load More</a>
                        </div>
                    </div>
                    <!-- Main Content End -->
                </div>
            </div>
            <!-- Doctors List End -->

            <%- include('../partials/footer') %>
            <script>
                document.addEventListener('DOMContentLoaded', () => {
                    const specialtyLinks = document.querySelectorAll('.specialty-link');
                    const doctorCards = document.querySelectorAll('.doctor-card');
        
                    specialtyLinks.forEach(link => {
                        link.addEventListener('click', (e) => {
                            e.preventDefault();
                            const selectedSpecialty = link.getAttribute('data-specialty');
        
                            doctorCards.forEach(card => {
                                const cardSpecialty = card.getAttribute('data-specialty');
                                if (selectedSpecialty === 'all' || selectedSpecialty === cardSpecialty) {
                                    card.classList.remove('d-none');
                                    card.classList.add('d-flex');
                                } else {
                                    card.classList.remove('d-flex');
                                    card.classList.add('d-none');
                                }
                            });
                        });
                    });
                });
            </script>
    </body>

</html>