<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
    <title>Prescriptions - HealingNet</title>
    <link rel="stylesheet" href="/css/dashboard.css">
</head>
<body>
    <div class="container mt-5">
        <h2 class="mb-4"> My Prescriptions</h2>
        
        <% if (prescription.length > 0) { %>
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead class="table-primary">
                        <tr>
                            <th>Doctor Name</th>
                            <th>Medication</th>
                            <th>Dosage</th>
                            <th>Frequency</th>
                            <th>instructions</th>
                            <th>Prescribed Date</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Illness</th>
                            <th>Prescriptions_id</th>
                            <th>Doctor_id</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% prescription.forEach(prescription => { %>
                            <tr>
                                <td> <%= prescription.fullname %></td>
                                <td> <%= prescription.medication %></td>
                                <td> <%= prescription.dosage %></td>
                                <td> <%= prescription.frequency  %></td>
                                <td> <%= prescription.instructions %></td>
                                <td> <%= prescription.date_prescribed.toISOString().split('T')[0]  %></td>
                                <td> <%= prescription.start_date.toISOString().split('T')[0]  %></td>  
                                <td> <%= prescription.end_date.toISOString().split('T')[0]  %></td>                                 
                                <td><%= prescription.illness %></td>
                                <td><%= prescription.prescriptions_id %></td>
                                <td><%= prescription.doctor_id   %></td>
                                <!-- <td><span class="badge bg-success">Confirmed</span></td> -->
                                
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        <% } else { %>
            <div class="alert alert-warning" role="alert">
                You have been given no prescriptions.
            </div>
        <% } %>
    </div>

    
</body>
<script src="/js/main.js"></script>
</html>
